@inject HttpClient Http


@foreach (var product in Products)
{
    <div class="card mb-3" style="max-width: 640px;">
        <div class="row g-0">
            <div class="col-md-4 img-wrapper">
                <a href="#">
                    <img class="media-img" src="@product.ImageUrl" alt="@product.Title"/>
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="#">
                        <h4 class="ml-0">@product.Title</h4>
                    </a>
                </div>
                
                <p class="card-text pr-2">@product.Description</p>
                <h5 class="price">$@product.Price</h5>
            </div>
        </div>
    </div>
}


@code {
    private static List<Product> Products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Product>>("api/Product");
        if (result != null)
            Products = result;
    }
}
